/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  font-family: sans-serif;
  margin: unset;
}

header {
    padding: 5px;
    padding-left: 20px; 
    padding-right: 20px;
    text-align: left;
    padding: 0px;
    padding-left: 20px; 
    padding-right: 20px;
    text-align: left;
    background: #1abc9c;
    /* color: black; */
    font-size: 8px;
    display: flex;
    justify-content: space-between;
     }
     header h1 {
      color:black;

     }
   header > #header-button {
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    outline: none;
  }
  .button {
    background-color: frosted white - rgba(225, 225, 225, .9);
    padding: 10px 10px;
    border-radius: 4px;
    outline: none;

  }

  main {
    background-image: url('assets/burger-friends.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
